/* .quiz-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    height: 100vh;
}

.quiz-login__container {
    border: 2px solid red;
    width: 50rem;
    height: 50rem;
} */